{
  "presets": [
    "react-app"
  ],
  "plugins": [
    [
      "transform-decorators-legacy"
    ],
    [
      "zent",
      {
        "automaticStyleImport": true,
        "useRawStyle": false
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css"
      }
    ]
  ]
}
